<div class="started_box">
    <h2 class="section_heading">Get Started/Edit Topic Request</h2>
    <div class="inside_box shadow_box">
      <div class="form_control clearfix">
        <label>Topic Name</label>
        <input type="text" class="round_field">
        <button class="arrow"><img src="../../assets/images/arrow-right.png"></button>
      </div>
      <div class="form_control clearfix">
        <label>Sample Request</label>
        <input type="text" class="round_field">
        <button class="arrow"><img src="../../assets/images/arrow-right.png" /></button>
      </div>
  
      <div class="create_fields_block">
        <div class="clearfix">
          <div class="element_wrapper">
            <div class="element">Get Started</div>
            <div class="delete_option"><img src="../../assets/images/delete.png" /></div>
          </div>
          <div class="element_wrapper">
            <div class="element">What do you do?</div>
            <div class="delete_option"><img src="../../assets/images/delete.png" /></div>
          </div>
        </div>
      </div>
      <div class="btn_block">
        <button type="button" class="custom_btn">
          Edit Response&nbsp;&nbsp;&nbsp;<img src="../../assets/images/arrow-right.png" />
        </button>
      </div>
    </div> 
  </div>