<div class="pageHeader">
  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <a class="navbar-brand" routerLink="/dashboard">
        <img class="likeordislike" src='assets/images/logo.png' />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
                <a class="nav-link pr-3 pl3" routerLink="/bot-management">Your Bots <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link pr-3 pl3" routerLink="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle  pr-3 pl3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Help
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Support</a>
              <a class="dropdown-item" href="#">Video Tutorials</a>
              <a class="dropdown-item" href="#">Help Page</a>
            </div>
          </li>
          <li class="nav-item ml-md-5 person_link">
            <a class="nav-link" href="#">
              <img src="assets/images/person_icon.png">
              <!-- <i class="fa fa-user"></i> -->
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
