<div class="started_box">
  <!-- <h2 class="section_heading">Get Started/Edit Topic Request</h2> -->
  <div class="inside_box shadow_box">
    <div class="form_control clearfix">
      <label>Response Type</label>
      <select class="round_field" [(ngModel)]="reponseType">
        <option selected>Please Select</option>
        <option value="text">Text</option>
        <option value="generic">Generic</option>
        <option value="media">Media</option>
        <option value="button">Button</option>
      </select>
    </div>

    <div *ngIf="reponseType==='text'">
      <response-text-type [topic]="topic"></response-text-type>
    </div>


    <!--    <div class="create_fields_block">
      <div class="clearfix">
        <div *ngFor="let question of topic.questions; let i = index">
          <div class="element_wrapper">
            <div class="element">{{question}}</div>
            <div class="delete_option" (click)="removeQuestion(i)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="btn_block">
    <button type="button" class="custom_btn">
      Edit Response&nbsp;&nbsp;&nbsp;
      <img src="assets/images/arrow-right.png" />
    </button>
  </div> -->
  </div>
</div>