<div class="started_box">
  <!-- <h2 class="section_heading">Get Started/Edit Topic Request</h2> -->
  <div class="inside_box shadow_box">
    <div class="form_control clearfix response_options">
      <label>Response Type</label>
      <select class="round_field" [(ngModel)]="responseType" (change)="onChangeResponseType($event.target.value)">
        <option value="">Please Select</option>
        <option value="text">Text</option>
        <option value="generic">Generic</option>
        <option value="media">Media</option>
        <option value="button">Button</option>
      </select>
    </div>
    <div *ngIf="responseType!==''">
      <response-text-type (keydownEnter)="submitAnswer($event)"[textResponse]="text"></response-text-type>
    </div>
    <div *ngIf="responseType==='button'">
      <response-button-type></response-button-type>
    </div>
    <div *ngIf="responseType==='media'">
      <response-media-type></response-media-type>
    </div>
    <div *ngIf="responseType==='generic'">
      <response-generic-type></response-generic-type>
    </div>
  </div>
</div>
