<div class="started_box">
  <!-- <h2 class="section_heading">Get Started/Edit Topic Request</h2> -->
  <div class="inside_box shadow_box">
    <div class="form_control clearfix response_options">
      <label>Response Type</label>
      <select (change)="updateAnswer()" class="round_field" [(ngModel)]="responseType">
        <option value="">Please Select</option>
        <option value="text">Text</option>
        <option value="generic">Generic</option>
        <option value="media">Media</option>
        <option value="button">Button</option>
      </select>
      <div class="btn_block">
        <a class="btn-primary" (click)="submitResponse()">Save Changes</a>
      </div>
    </div>
    <div *ngIf="responseType=='text'">
      <response-text-type (textResponse)="updateAnswer($event)" [answer]="response"></response-text-type>
    </div>
    <div *ngIf="responseType==='button'">
      <response-button-type (buttonResponse)="updateAnswer($event)" [answer]="response"></response-button-type>
    </div>
    <div *ngIf="responseType==='media'">
      <response-media-type  (keydownEnter)="updateAnswer($event)" [answer]="response"></response-media-type>
    </div>
    <div *ngIf="responseType==='generic'">
      <response-generic-type (genericResponse)="updateAnswer($event)" [answer]="response"></response-generic-type>
    </div>
  </div>
</div>
