::ng-deep .form_control {
  margin-bottom: 0;
  label{
    max-width: 6.5em;
    width: 100%;
    margin-bottom: 0;
  }
  input{
    //max-width: 11em;
    width: 100%;
  }
  select{
    max-width: 11em;
    width: 100%;
  }
}

::ng-deep .input_container {
  margin-bottom: 2em;
}
::ng-deep .add_button{
  margin-left: 1em;
}
::ng-deep .action_button{
  cursor: pointer;
  label{
    font-family: 'Alegreya', serif;
    font-size: 20px;
    color: #464866;
    display: inline-block;
    line-height: 44px;
    cursor: inherit;
  }
  img{
    max-width: 32px;
    width: auto;
    margin-right: .5em;

  }
}
::ng-deep .checkbox_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


  &:hover input ~ .checkmark {
    background-color: #fff;
  }
  input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  /* Show the checkmark when checked */
  input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark {
    position: absolute;
    top: .5em;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #2abef1;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 8px;
      width: 7px;
      top: 2px;
      height: 14px;
      border: solid #2abef1;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:hover ~ .checkmark:after {
      top: 1px;
      left: 7px;
    }

    &:hover {
      border: 2px solid #2abef1;
    }
  }
}
