<div class="new-topic-section">
    <p class="text-center"><a href="javascript:void(0);" (click)="updateBotConfig()" id="create_new_topic" class="btn btn-border-skyblue"><i class="fa fa-plus" aria-hidden="true"></i> Create New Topic</a></p>
    <p class="or-separator"><span><span>OR</span></span></p>
    <p class="text-skyblue text-center">Pick a Topic</p>
    <p class="text-center">
      <a href="javascript:void(0);" (click)="createDraggableWidget('Contact Us')" data-title="Contact Us" class="btn fs-12 btn-border-skyblue border-radius-20">Contact Us</a>
      <a href="javascript:void(0);" (click)="createDraggableWidget('About Us')" data-title="About Us" class="btn fs-12 btn-border-skyblue border-radius-20">About Us</a>
      <a href="javascript:void(0);" (click)="createDraggableWidget('Weather')" data-title="Weather" class="btn fs-12 btn-border-skyblue border-radius-20">Weather</a>
      <a href="javascript:void(0);" (click)="createDraggableWidget('Consecetur Adip')" data-title="Consecetur Adip" class="btn fs-12 btn-border-skyblue border-radius-20">Consecetur adip</a>
      <a href="javascript:void(0);" (click)="createDraggableWidget('About Us')" data-title="About Us" class="btn fs-12 btn-border-skyblue border-radius-20">About Us</a>
      <a href="javascript:void(0);" (click)="createDraggableWidget('About Us')" data-title="About Us" class="btn fs-12 btn-border-skyblue border-radius-20">About Us</a>
      <a href="javascript:void(0);" (click)="createDraggableWidget('Weather')" data-title="Weather" class="btn fs-12 btn-border-skyblue border-radius-20">Weather</a>
    </p>
  </div>
