<h2 class="section_heading">Live Chat</h2>
<div class="shadow_box">
  <div class="chat_header">
    <div class="chat_logo">
      <img _ngcontent-c1="" class="likeordislike" src="assets/images/logo.png">
      <span class="chat_bot_name">
        Chat bot name
      </span>
    </div>
  </div>

  <div class="chat_scroll">
    <div *ngFor="let chatSet of conversationList; let i = index">
      <div *ngIf="chatSet[1] === 'user'" class='box sb_right'>{{chatSet[0]}}</div>

      <div *ngIf="chatSet[1] === 'text' && chatSet[0]?.text" class="box sb_left">{{chatSet[0]?.text}}</div>
      <!-- Template style for the button template -->
      <div *ngIf="chatSet[1]=='button'" class="button-container">
        <div class="button-text">{{chatSet[0]?.attachment?.payload?.text}}</div>
        <div class="button-template" *ngIf="chatSet[0]?.attachment?.payload?.buttons.length>0">
          <li *ngFor="let button of chatSet[0]?.attachment?.payload?.buttons" >
            <span class="button_item">{{button?.title}}</span>
          </li>
        </div>
      </div>
      <div *ngIf="chatSet[1]=='generic'" id="carousel_{{i}}" class="carousel slide" data-ride="carousel">

          <!-- Indicators -->
          <!-- <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul> -->

          <!-- The slideshow -->
          <div class="carousel-inner">
            <div *ngFor="let element of chatSet[0]?.attachment?.payload?.elements; let i = index" class="carousel-item active" [class.active]="i===0">
              <img [src]="element.image_url" (error)="updateErrorImage($event)">
              <div class="button-template element-buttons">
                <li *ngFor="let button of element.buttons">
                  <span class="button_item">{{button.title}}</span>
                </li>
              </div>
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#carousel_{{i}}" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#carousel_{{i}}" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>

    </div>
  </div>
  <div class="chat_footer">
    Type Your question <input type="text" class="chat_input" disabled>
  </div>
</div>
