<h2 class="section_heading">Live Chat</h2>
<div class="shadow_box">
  <div class="chat_header">
    <div class="chat_logo">
      <img _ngcontent-c1="" class="likeordislike" src="assets/images/logo.png">
      <span class="chat_bot_name">
        Chat bot name
      </span>
    </div>
  </div>

  <div class="chat_scroll">
    <div *ngFor="let chatSet of conversationList">
      <div *ngIf="chatSet[1] === 'user'" class='box sb_right'>{{chatSet[0]}}</div>

      <div *ngIf="chatSet[1] === 'text' && chatSet[0]?.text" class="box sb_left">{{chatSet[0]?.text}}</div>
      <!-- Template style for the button template -->
      <div *ngIf="chatSet[1]=='button'" class="button-container">
        <div class="button-text">{{chatSet[0]?.attachment?.payload?.text}}</div>
        <div class="button-template">
          <li *ngFor="let button of chatSet[0]?.attachment?.payload?.buttons" >
            <span class="button_item">{{button?.title}}</span>
          </li>
        </div>
      </div>
    </div>
  </div>
  <div class="chat_footer">
    Type Your question <input type="text" class="chat_input" disabled>
  </div>
</div>
