
.shadow_box {
    // padding-top : 20px;
    // padding-bottom : 20px;
    // padding-left : 10px;
    // padding-right : 10px;
    padding : 0px;
}

.box {
    max-width: 18em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid #29648a;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    position: relative;
    font-size: 12px;
    word-wrap: break-word;
}

.sb_right {
    margin-right: 10px;
    margin-left: auto;
    &:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 5px solid #29648a;
        ;
        border-right: 5px solid transparent;
        border-top: 5px solid #29648a;
        border-bottom: 5px solid transparent;
        right: -9.5px;
        top: 8px;
    }
    &:after {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 5px solid #fff;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        border-bottom: 5px solid transparent;
        right: -5px;
        top: 10px;
    }
}

.sb_left {
    margin-right: auto;
    margin-left: 10px;
    &:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 5px solid transparent;
        border-right: 5px solid #29648a;
        border-top: 5px solid #29648a;
        border-bottom: 5px solid transparent;
        left: -9.5px;
        top: 8px;
    }
    &:after {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 5px solid transparent;
        border-right: 5px solid #fff;
        border-top: 5px solid #fff;
        border-bottom: 5px solid transparent;
        left: -5px;
        top: 10px;
    }
}

.chat_scroll {
    padding: 5px;
    background: white;
    height: 350px;
    overflow-y: scroll;
}

.chat_header {
    .chat_logo {
        .chat_bot_name {
            padding-left: 5em;
            color : white;
        }
    }
    padding: .5em;
    margin-bottom: .5em;
    background-color: #272c4c;
}

.chat_input{
  border-radius: 10px;
  border : 1px solid lightgrey;
}

.chat_footer {
  border-top : 1px solid lightgrey;
  padding-top:1em;
  padding-bottom:1em;
  padding-left:.5em;
}