
.shadow_box {
    // padding-top : 20px;
    // padding-bottom : 20px;
    // padding-left : 10px;
    // padding-right : 10px;
    padding : 0px;
}

.box {
    max-width: 18em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid #23bdf0;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    position: relative;
    font-size: 12px;
    word-wrap: break-word;
}

.sb_right {
    margin-right: 10px;
    margin-left: auto;
    &:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 5px solid #23bdf0;
        border-right: 5px solid transparent;
        border-top: 5px solid #23bdf0;
        border-bottom: 5px solid transparent;
        right: -9.5px;
        top: 8px;
    }
    &:after {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 5px solid #fff;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        border-bottom: 5px solid transparent;
        right: -5px;
        top: 10px;
    }
}

.sb_left {
    margin-right: auto;
    margin-left: 10px;
    &:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 5px solid transparent;
        border-right: 5px solid #23bdf0;
        border-top: 5px solid #23bdf0;
        border-bottom: 5px solid transparent;
        left: -9.5px;
        top: 8px;
    }
    &:after {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 5px solid transparent;
        border-right: 5px solid #fff;
        border-top: 5px solid #fff;
        border-bottom: 5px solid transparent;
        left: -5px;
        top: 10px;
    }
}

.chat_scroll {
    padding: 5px;
    background: white;
    height: 350px;
    overflow-y: scroll;
}

.chat_header {
    .chat_logo {
        .chat_bot_name {
            padding-left: 5em;
            color : white;
        }
    }
    padding: .5em;
    margin-bottom: .5em;
    background-color: #272c4c;
}

.chat_input{
  border-radius: 10px;
  border : 1px solid lightgrey;
}

.chat_footer {
  border-top : 1px solid lightgrey;
  padding-top:1em;
  padding-bottom:1em;
  padding-left:.5em;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}
.button-container {

  .button-text {
      font-size: 12px;
      word-wrap: break-word;
      margin-left: 1em;
      max-width: 18em;
      color: #29648a;
  }

  .button-template {
      max-width: 16em;
      margin-bottom: 1em;
      margin-left:1em;
      border: 1px solid #23bdf0;
      border-radius: 10px;
      text-align: center;
      position: relative;
      font-size: 12px;
      word-wrap: break-word;
      background: 1px solid grey;
      li{
          border-bottom: 1px solid #23bdf0;
          padding:2px;
          min-height: 2em;
          span {font-weight: bold;
              &.button_item {
                  color :rgb(0, 132, 255);
                  cursor: pointer;

              }
          }
      }
      li:first-child {
          border-top: none;
      }
      li:last-child {
          border-bottom: none;
      }
  }
}

.button-text {
    font-size: 12px;
    word-wrap: break-word;
    margin-left: 1em;
    max-width: 18em;
    color: #29648a;
}
.button-template {
    max-width: 16em;
    margin-bottom: 1em;
    border: 1px solid #23bdf0;
    border-radius: 10px;
    text-align: center;
    position: relative;
    font-size: 12px;
    word-wrap: break-word;
    background: 1px solid grey;
    li{
        border-bottom: 1px solid #23bdf0;
        padding:2px;
        min-height: 2em;
        span {font-weight: bold;
            &.button_item {
                color :rgb(0, 132, 255);
                cursor: pointer;

            }
        }
    }
    li:first-child {
        border-top: none;
    }
    li:last-child {
        border-bottom: none;
    }
}

.carousel {
    height : 16em;
    width:10em;
    margin-left : 1em;
    .carousel-item {
        .image-container {
            border-radius: 10px;
        img {
            height : 10em;
            width:10em;
        }

     }
    }
}

.element-buttons {
  border-radius: 0 0 10px 10px;
}
.element-text {
    border: 1px solid #23bdf0;
}
