<span id="togglebtntwo" class="toggle_btn expand-leftside hide" onclick="toggle_left(this);">
    <img src="../../assets/images/plus.png" class="plus">
  </span>
  
  <div class="left-sidebar">
    <sidebar></sidebar>
  </div>
  <div class="right-container container-fluid">
    <div class="row clearfix flex-column-reverse flex-md-row">
      <div class="col-sm-12 col-md-8">
        <div class="choose_topic_wrap">
          <create-new-topic></create-new-topic>
        </div>
        <div class="hide create_topic_wrap">
          <add-topic-request></add-topic-request>
        </div>
        </div>
      <div class="col-sm-12 col-md-4 live_chat">
        <h2 class="section_heading">Live Chat</h2>
        <div class="inside_box shadow_box">
          <img src="../../assets/images/chat_simulator.png">
        </div>
      </div>
    </div>
  
    <div class="row clearfix mt-2">
      <div class="col-sm-12">
        <div class="inside_box shadow_box chat_box" style="position: relative;">
          <a href="javascript:void(0);" class="toggle_btn" id="chatbtn" onclick="toggle_chat_area(this);">
            <img src="../../assets/images/minus.png" />
          </a>
  
          <h2 class="section_heading"> Chat flow</h2>
  
          <div class="drag_fields_block">
            <div class="clearfix">
              <button type="button" class="draggable_ele get_started_btn">
                <img src="../../assets/images/plus.png">&nbsp;&nbsp;Get Started 
              </button>
            </div>
          </div>
  
          <div class="drag_fields_block drag_fields_block_duplicate hide">
            <div class="clearfix">
              <button type="button" class="draggable_ele get_started_btn">
                <img src="../../assets/images/plus.png">&nbsp;&nbsp;Get Started 
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  