.draggable_ele {
  h4{
    display: inline;
  }
}
.current_topic {
  border: 2px solid #23bdf0;
  h4 {
    color: #23bdf0
  }
  button {
    box-shadow: 0 0 0 2px #23bdf0;
  }
}
.chat_small{
  .section_heading{
    margin-bottom: 0;
  }
}
.container-fluid {
  position: relative;
  top: 3em;
}
