<section class="float-left w-100 dark-blue-bg template-bot-wrap">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<p class="liketext">Pick a template</p>
			</div>
		</div>
		<div class="row custom_row">
			<ul>
				<li class="col-12 col-sm-4 col-md-3 col-lg-2 custom_col">
					<a href="javascript:void(0);" class="pick-template bg-light rounded">
						<div class="like-section text-right mb-5">
							<span>
								<small>3200</small>
							</span>
							<span>
								<img src="../../assets/images/heart-shape-black.png" />
							</span>
						</div>
						<div class="pick-template-btn">
							<span class="btn btn-block text-uppercase custom_default_btn">survey</span>
						</div>
					</a>
				</li>
				<li class="col-12 col-sm-4 col-md-3 col-lg-2 custom_col template-layout2">
					<a href="javascript:void(0);" class="pick-template bg-light rounded">
						<div class="template-img">
							<img src="../../assets/images/image2.jpg">
						</div>
						<div class="like-section text-right mb-5">
							<span>
								<small>3200</small>
							</span>
							<span>
								<img src="../../assets/images/heart-shape.png" />
							</span>
						</div>
						<div class="pick-template-btn">
							<span class="btn btn-block text-uppercase custom_default_btn btn_primary">faq</span>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>
