<div class="input_fields row">
  <div class="form_control clearfix col-md-6 col-sm-12">
    <label class="checkbox_container">Shareable
      <input type="checkbox" [checked]="answer.attachment.payload.sharable" (change)="$event.target.checked? (answer.attachment.payload.sharable='true') : (answer.attachment.payload.sharable=null)">
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="col-md-6 col-sm-12" *ngIf="answer.attachment.payload.elements.length < 10">
    <div (click)="addElement()" class="action_button add_button float-right">
      <img src="assets/images/plus_icon.png">
      <label *ngIf="isCarousel">Add Carousel Element</label>
      <label *ngIf="!isCarousel">Create Carousel</label>
    </div>
  </div>
</div>
<carousel #carousel="carousel" [ngClass]="{'carousel' : isCarousel}" [currentSlide]="currentElement" [itemsLength]="answer.attachment.payload.elements.length">
  <ng-container *ngFor="let element of answer.attachment.payload.elements; let i = index">
    <ng-container *carouselItem>
      <div *ngIf="isCarousel" (click)="removeElement(i)" class="action_button add_button remove_element">
        <img src="assets/images/minus_icon.png" >
        <label>Remove Element</label>
      </div>
      <div class="generic_content">
        <div class="input_container">
            <div class="input_fields row">
              <div class="form_control clearfix col-md-6 col-sm-12">
                  <label>Image URL</label>
                  <input [(ngModel)]="element.image_url" type="text" class="round_field" placeholder="URL">
              </div>
              <div class="form_control clearfix col-md-6 col-sm-12">
                  <label>Title</label>
                  <input [(ngModel)]="element.title" type="text" class="round_field" placeholder="Title">
              </div>
            </div>
          <div class="input_fields row">
            <div class="form_control clearfix col-md-6 col-sm-12">
                <label>Subtitle</label>
                <input [(ngModel)]="element.subtitle" type="text" class="round_field" placeholder="Subtitle">
            </div>
          </div>
        </div>
        <buttons [buttonSection]="true" [buttons]="element.buttons"></buttons>
      </div>
    </ng-container>
  </ng-container>
</carousel>
<div *ngIf="isCarousel" class="navigation_buttons row">
  <div *ngIf="currentElement > 0" (click)="prevElement()" class="action_button navigation_arrow">
    <img src="assets/images/arrow-left.png">
  </div>
  <div *ngFor="let element of answer.attachment.payload.elements; let i = index">
    <span [ngClass]="{'current_dot' : currentElement == i}" (click)="gotoElement(i)" class="dot"></span>
  </div>
  <div *ngIf="currentElement < answer.attachment.payload.elements.length - 1" (click)="nextElement()" class="action_button navigation_arrow">
    <img src="assets/images/arrow-right.png">
  </div>
</div>
