<div class="input_fields row">
  <div class="form_control clearfix col-md-6 col-sm-12">
    <label class="checkbox_container">Shareable
      <input type="checkbox" [checked]="answer.attachment.payload.sharable" (change)="$event.target.checked? (answer.attachment.payload.sharable='true') : (answer.attachment.payload.sharable=null)">
      <span class="checkmark"></span>
    </label>
  </div>
  <div *ngIf="answer.attachment.payload.elements.length < 10">
    <div (click)="addElement()" class="action_button add_button">
      <img src="assets/images/plus_icon.png">
      <label>Add Element</label>
    </div>
  </div>
</div>
<carousel #carousel="carousel" class="carousel" [showControls]="showControls" [itemsLength]="elementsLength">
  <ng-container *ngFor="let element of answer.attachment.payload.elements; let i = index">
    <ng-container *carouselItem>
      <div class="generic_content">
        <div class="input_container">
          <div class="input_fields row">
            <div class="form_control clearfix col-md-6 col-sm-12">
                <label>Image URL</label>
                <input [(ngModel)]="element.image_url" type="text" class="round_field" placeholder="URL">
            </div>
            <div class="form_control clearfix col-md-6 col-sm-12">
                <label>Title</label>
                <input [(ngModel)]="element.title" type="text" class="round_field" placeholder="Title">
            </div>
          </div>
          <div class="input_fields row">
            <div class="form_control clearfix col-md-6 col-sm-12">
                <label>Subtitle</label>
                <input [(ngModel)]="element.subtitle" type="text" class="round_field" placeholder="Subtitle">
            </div>
          </div>
        </div>
        <buttons [buttons]="element.buttons"></buttons>
        <div (click)="removeElement(i)" class="action_button">
          <img src="assets/images/delete.png">
          <label>Remove Element</label>
        </div>
      </div>
    </ng-container>
  </ng-container>
</carousel>
