<div class="input_container">
  <div class="input_fields row">
    <div class="form_control clearfix col-md-6 col-sm-12">
        <label>Image URL</label>
        <input type="text" class="round_field" placeholder="URL">
    </div>
    <div class="form_control clearfix col-md-6 col-sm-12">
        <label>Title</label>
        <input type="text" class="round_field" placeholder="Title">
    </div>
  </div>
  <div class="input_fields row">
    <div class="form_control clearfix col-md-6 col-sm-12">
        <label>Subtitle</label>
        <input type="text" class="round_field" placeholder="Subtitle">
    </div>
  </div>
  <div class="input_fields row">
    <div class="form_control clearfix col-md-6 col-sm-12">
      <label class="checkbox_container">Shareable
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
</div>
<response-button-type></response-button-type>
