.sidebar{
	padding:22px;
	position: relative;
	height: 100%;
}
.inside-section{
	margin-bottom: 94px;
}

.box{
	background: #fff;
	border-radius:2px;
	padding:17px 7px 28px;
	text-align: center;
	margin-bottom:12px;
}

.box .icon{
	margin-bottom:14px;
}

.box .btn_block, .box .link{
	color:#2e3353;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/* Primary Btn */
.btn-primary{
	color: #23bdf0;
	border:2px solid #23bdf0;
	border-radius: 6px;
	padding:10px 15px;
	display: block;
	background: none;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	transition: all ease 0.3s;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
	background: #fff;
	border-color: #fff;
	transition: all ease 0.3s;

}

/* Toggle Btn Block */
.toggle_btn_box{
	margin-bottom:36px;
}

.help_box{
	position: absolute;
    left: 50%;
    bottom: 0;
    transform:translateX(-50%);
}   

.help_box .sorting_link .block-toggle-button{
	position: inherit;
	bottom:10px;
	right: auto;
	left: auto;
	top: auto;
}
.help_box .sorting_link .block-toggle-button .dropdown-menu{
	top:-105px !important;
	min-width:137px;
	width: 137px;
	padding: 5px 0;

}