<div class="sidebar">
    <div class="toggle_btn_box text-right">
      <span class="toggle_btn" onclick="toggle_left(this);">
        <img src="../../assets/images/minus.png" class="minus">
      </span>
    </div>
    <div class="inside-section">
      <div class="box" onclick="changeShowStatus(this)" id="create_bot_btn">
        <div class="icon">
          <img src="../../assets/images/plus_icon.png">
        </div>
        <div class="btn_block">
          <!-- Create a new bot -->
        <a href="javascript:void(0);" class="link">Create a new bot</a>
        </div>
      </div>
      <div class="box">
        <div class="icon">
          <img src="../../assets/images/question_icon.png">
        </div>
        <div class="btn_block">
          <a href="javascript:void(0);" class="link">Ask a Question</a>
        </div>
      </div>
      <div class="box">
        <div class="icon">
          <img src="../../assets/images/design_icon.png">
        </div>
        <div class="btn_block">
          <a href="javascript:void(0);" class="link">Design</a>
        </div>
      </div>
      <div class="btn_block">
        <a href="" class="btn-primary" (click)="publishBot()">Publish</a>
      </div>
    </div>
      <div class="help_box">
        <div class="sorting_link">
               <div class="dropdown block-toggle-button">
                    <a class="dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown">
                      <img src="../../assets/images/questionmark_icon.png">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                      <a class="dropdown-item" href="#">Video Tutorial</a>
                      <a class="dropdown-item" href="#">Support Team</a>
                      <a class="dropdown-item" href="#">Contact Us</a>
                    </div>
                  </div>
            </div>
      </div>
  </div>
